<a href="https://colab.research.google.com/github/lilz827/final-project-303-3/blob/main/Model_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold, train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV, ParameterGrid
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [36]:
data = pd.read_csv('stats_unique_no_missing.csv')
data.head()

,Unnamed: 0,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,...,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65,drafted
0,4589,Pooh Williams,Utah St.,WAC,32,64.0,108.3,18.1,53.0,53.33,...,0.4688,1.3750,1.8438,2.1875,0.5938,0.2188,8.7812,Combo G,7.300850,0.0
1,4590,Nick Rodgers,Butler,Horz,11,1.0,121.1,16.8,75.0,75.00,...,0.0000,0.0000,0.0000,0.0909,0.0000,0.0000,0.5455,Pure PG,12.267400,0.0
2,4591,Dana Smith,Longwood,ind,27,81.8,99.8,27.7,49.9,53.76,...,2.1481,4.9259,7.0741,2.4074,0.8148,0.4815,17.5556,Wing F,5.581250,0.0
3,4594,Carlos Strong,Boston University,AE,35,76.2,118.1,16.4,58.8,60.93,...,1.3429,3.2286,4.5714,1.8000,1.6571,0.4000,10.8571,Combo G,6.583070,0.0
4,4595,Sherrod Smith,Boston University,AE,29,9.5,60.7,6.9,8.3,14.93,...,0.1379,0.5862,0.7241,0.2069,0.1034,0.0345,0.1724,Wing G,0.844851,0.0

In [37]:
cols = list(data.columns)
categorical_cols = []
numerical_cols = []
for item in cols:
  if data[item].dtype == object:
    categorical_cols.append(item)
  else:
    numerical_cols.append(item)

In [38]:
categorical_cols

['player_name', 'team', 'conf', 'yr', 'ht', 'num', 'type', 'Unnamed: 64']

In [39]:
data = data.set_index('player_name')

In [40]:
data = data.drop(['Unnamed: 64', 'Unnamed: 65', 'rimmade+rimmiss', 'midmade+midmiss',
       'dunksmiss+dunksmade', 'num', 'type'], axis=1)
data_dummies = pd.get_dummies(data)

In [42]:
y = data_dummies.drafted
X = data_dummies.drop('drafted', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=45)

In [ ]:
params = {'n_estimators': [200, 300, 400],
          'max_depth': [5, 10, 20],
          'max_features': [0.1, 0.5, 1.0],
          'max_leaf_nodes':[1100,1200,1300],
          'bootstrap': [True, False]}

model_group = GridSearchCV(RandomForestRegressor(random_state=45, n_jobs=-1),
                           params, scoring='neg_mean_absolute_error',
                           cv=5, n_jobs=-1, verbose=1)

model_group.fit(X_train, y_train)
print(model_group.best_score_, model_group.best_params_)

Fitting 5 folds for each of 162 candidates, totalling 810 fits